body {
  background-color: rgb(139, 4, 4);
  color: white;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  height: calc(100vh - 40px);
  position: relative;
  padding: 20px 0;
}
* {
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  height: 50px;
}
nav .fas {
  display: none;
}
nav img {
  height: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 50px;
  font-size: 20px;
}

nav ul li {
  cursor: pointer;
}
@media (max-width: 767px) {
  nav {
    padding: 0 30px;
  }
  nav ul {
    gap: 10px;
    font-size: 16px;
    flex-grow: 0;
    position: absolute;
    flex-direction: column;
    right: 30px;
    top: 60px;
    text-align: center;
    background-color: rgba(175, 172, 172, 0.678);
    color: #333;
    font-weight: bold;
    width: calc(100% - 140px);
    gap: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
  }
  nav ul.show {
    max-height: 800px; /* حسب عدد العناصر */
    transition: max-height 0.3s;
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li:not(:last-child) {
    border-bottom: 1px solid #333;
  }
  nav .fas {
    display: block;
    font-size: 30px;
  }
}
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.about {
  flex-basis: 40%;
}
.about h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.about p {
  color: rgba(255, 255, 255, 0.74);
  margin: 20px 0;
}

.about a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .about p,
  .about a {
    display: none;
  }
  section {
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 150px);
  }
  .about {
    flex-basis: content;
  }
  .about h1 {
    font-weight: bold;
    white-space: nowrap;
    font-size: 30px;
  }
}
section img {
  width: 150px;
}
.phones {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.phones img {
  width: 100px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .phones img {
    width: 50px;
  }
}
